.header-container {
  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
  align-items: center;
  height: 50px;
  padding: 10px;
  margin: 0;

  &__search-area {
    display: flex;
    gap: 10px;
  }
}
.btn-search {
  background-color: white;
  &:hover {
    background-color: antiquewhite;
  }
}
